{% trans_default_domain 'FOSUserBundle' %}


<div class="container">
    <div class="row">
       <div class="col-md-3" style="padding-left:30px;">
          {% include 'UtilisateurBundle::ModulesUsed/utilisateurConnecte.html.twig' %}
       </div>
       <div style="padding-left:15px;">
           <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 cadre-content">
               <div class="" >
                   <div class="panel_ panel-default_" id="panel-login_">
                       <div class="panel-body_">
                           <h2 id="title-login_">Verification des coordonnées de l'utilisateur</h2>
                           <hr />
                           {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                               {{ form_widget(form) }}<br />
                               <p>Changer le mot de passe? <a href="{{ path('fos_user_change_password') }}">cliquez ici</a></p>
                               <div>
                                 <button type="submit" value="{{ 'profile.edit.submit'|trans }}" class="button-send-default">{{ 'profile.edit.submit'|trans }}</button>
                               </div>
                           {{ form_end(form) }}
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</div>
<br />
<br />
<br />
