{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-md-3" style="padding-left:30px;">
            {% include 'UtilisateurBundle::ModulesUsed/utilisateurConnecte.html.twig' %}
        </div>
        <div style="padding-left:15px;">
            <div  class="col-xs-12 col-sm-12 col-md-9 col-lg-9 cadre-content">
                <h2>Mes informations </h2>
                <hr />
                <div class="fos_user_user_show ">
                    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
