<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Apple Blog{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    </head>
    <!--<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">-->
      <body>
        <header>
            {% block header %}{% endblock %}
        </header>

        <main style="padding-top: 35px; margin-right: 0px;" class="row no-padding">
          <section>
              {% block section %}{% endblock %}
          </section>
        </main>

        <footer>
            {% block footer %}
                <hr />
                <p>Copyright © 2017 - Benharchache Sofien</p>
            {% endblock %}
        </footer>

        {% block javascripts %}

          <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
          <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
          <script src="{{ asset('script.js') }}"></script>

        {% endblock %}

    </body>
</html>
