{% extends "AppleBlogCatalogueBundle::index.html.twig" %}

 {% block stylesheets %}
     {{ parent() }}
     <style>


     </style>
 {% endblock %}

{% block section %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9" style="padding-top: 0px;">
                <h5 class="cadre-content cadre-path"><a href="{{ path('apple_blog_catalogue_homepage') }}">Accueil</a>/<a href="{{ path('apple_blog_catalogue_homepage', {'produit':article[0].produit.nom}) }}">{{article[0].produit.nom}}</a>/{{article[0].titre}}</h5> {# Position dans le parcours du site #}
                <article>
                    <h2>{{article[0].titre | raw}}</h2>
                    <div class="row">
                        <img style="float: le_ft; display: block; margin-left: auto; margin-right: auto; text-align: center;" src="{{asset(article[0].urlphoto)}}" class="img-responsive" alt="Nom de l'article" style="width:100px; height:100px;" /> {# Notre image illustrant l'article #}
                        <div class="" >
                            <p>{{article[0].texte | raw}}</p>{# Une partie du texte de l'article #}
                        </div>
                    </div>
                    <p>publié le: <time datetime="2013-08-21"> </time> {{article[0].date|date("d/m/Y")}}</p>

                    <hr />

                    <div class="cadre-content cadre-commentaire">
                        <div class="">
                            <h2>Commentaire</h2>
                        </div>
                        <hr />
                        {{ form_start(form) }}
                            {% if erreurs %}
                                <ul>
                                    {% for erreur in erreurs %}
                                        <font color="red"><li>Il manque le champ <b>{{erreur}}</b>.</li></font>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {#{ form_widget(form) }#}
                            {{ form_row(form.pseudo) }}
                            <br />
                            {{ form_row(form.mail) }}
                            <br />
                            {{ form_row(form.comm) }}
                            <br />
                            <button type="submit" class="button-send"><span class="glyphicon glyphicon-send"></span></button>
                        {{ form_end(form) }}
                    </div>
                </article>
                <br />
            </div>
            {{ parent() }}
        </div>
    </div>
    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock %}
