{#{% extends "AppleBlogCatalogueBundle::index.html.twig" %}

{% block section %}
<div class="col-lg-10"  style="padding-top: 10px;">
  <article>
    <h2>Edition d'un article</h2>
      {% if erreurs %}
        <div class="bg-danger">
          <ul>
            {% for erreur in erreurs %}
              <font color="red"><li>Il manque le champ <b>{{erreur}}</b>.</li></font>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
------------------
regergreg
reg
reg
rgregger
      <div class="well">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
      </div>
        {{ tinymce_init() }}
    <footer>
    </footer>
  </article>
</div>
{{ parent() }}
{% endblock %}#}
