{% extends "AppleBlogCatalogueBundle::index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block section %}
<div class="container">
    <div class="col-sm-12 col-md-9 col-lg-10">
        <h1 style="text-align: center;">
            {% if nomproduit == "AppleTv" %}
                Tv
            {% elseif nomproduit == "AppleWatch" %}
                Watch
            {% elseif nomproduit == "AppleMusic" %}
                Music
            {% else %}
                {{nomproduit}}
            {% endif %}
        </h1>
        <hr />
        {% if taille == 0 %}
            <p>
                <article class="cadre-content cadre-aucun-article">
                    <h4>Aucun article</h4>
                    <p>Il n'y a actuellement aucun article dans cette section.</p>
                    <p>Pour en ajouter un, connectez vous et allez dans la section 'Nouvel article'.</p>
                </article>
            </p>
        {% else %}
            {% for article in articles %}
                <div class="w3-half w3-container ">
                    <div class="w3-topbar w3-border-amber w3-padding-top">
                        <figure>
                            <img src="{{asset(article.urlphoto)}}" class="img-responsive" alt="Nom de l'article" style="width:100%;"  />
                            <figcaption>
                                {#<h2>#}<a href="{{ asset('/Article/'~article.id)}}">{{article.titre | tailleDuTexte(27) | raw}}</a>{#</h2>#}
                                {#{{article.texte | tailleDuTexte | raw}}<a href="{{asset('/Article/'~article.id)}}">    Lire l'article</a>#}
                            </figcaption>
                        </figure>
                        <div style="color:#FF9900;"><p>publié le: <time datetime="2013-08-21"> {{article.date|date("d/m/Y")}} </time></p></div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {{ parent() }}
</div>

    {# display navigation #}
    <div class="navigation" style="text-align: center;">
        {{ knp_pagination_render(articles) }}
    </div>

    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

{% endblock %}
