{% trans_default_domain 'FOSUserBundle' %}



<div class="container">
   <div class="row">
       <div class="col-md-3">
          {% include 'UtilisateurBundle::ModulesUsed/utilisateurConnecte.html.twig' %}
       </div>
       <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
       <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
           <div class="container-fluid container-profile">
               <div class="panel panel-default" id="panel-login">
                   <div class="panel-body">
                       <h2 id="title-login">Changez le mot de passe</h2>
                       <hr />
                       {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                           {{ form_widget(form) }}
                           <div>
                               <button type="submit" class="btn btn-default" value="{{ 'change_password.submit'|trans }}" >{{ 'change_password.submit'|trans }}</button>
                           </div>
                       {{ form_end(form) }}

                   </div>
               </div>
           </div>
       </div>
       <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
   </div>
</div>
