{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
   <div class="row">
       <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <div class="cadre-content cadre-content-authentification">
               <h2 class="cadre-content-authentification-text">Authentification</h2>
               {% if error %}
                   <div style="color:red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
               {% endif %}
               <form class="" action="{{ path("fos_user_security_check") }}" method="post">
                   {% if csrf_token %}
                       <input class="w3-input" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                   {% endif %}
                   <hr />

                   <div class="">
                     <input type="text" class="w3-input" id="username" name="_username" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required" />
                   </div>
                   <br />

                   <div class="">
                     <input type="password" class="w3-input" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" />
                   </div>
                   <br />

                  {#<div class="">
                     <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="w3-input cadre-content-authentification-text" />
                     <label class="cadre-content-authentification-text" for="remember_me">{{ 'security.login.remember_me'|trans }}</label><br />
                 </div>#}

                   <p class="cadre-content-authentification-text" style="text-align:center">Mot de passe perdu ?<a href="{{ path("fos_user_resetting_request") }}"> cliquez ici</a></p>

                   <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="button-send-default">{{ 'security.login.submit'|trans }}</button>
               </form>
           </div>
       </div>
       <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
   </div>
   <br />
   <br />
   <br />
   <br />
</div>
