{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
   <div class="row">
       <div class="col-md-3">
          {% include 'UtilisateurBundle::ModulesUsed/utilisateurConnecte.html.twig' %}
       </div>
       <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
       <div class="col-xs-13 col-sm-8 col-md-8 col-lg-8">
           <div class="container-fluid container-profile">
               <div class="panel panel-default" id="panel-login">
                   <div class="panel-body">
                      <h2 id="title-login">Vous avez perdu votre mot de passe ?</h2><hr />
                      <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                          <div>
                              <input type="text" class="form-control"  id="username" placeholder="{{ 'resetting.request.username'|trans }}" name="username" required="required" />
                          </div><br />
                          <div>
                            <button type="submit" id="_submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-default">{{ 'resetting.request.submit'|trans }}</button>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
    </div>
 </div>
