{% extends "AppleBlogCatalogueBundle::index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    .gauche {
        float: left;
    }

    .droite {
        background-color: red;
        float: right;
    }



    /* - Survol d'un image - */
    figure {
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }
    img, figcaption {
        transition: all .25s ease;
    }
    img {
        display: block;
    }
    figcaption {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: .5em;
        background: #000;
        background: rgba(0, 0, 0, .75);
        color: #000;
        opacity: 0;
        font-size: 30px;
    }
    figcaption a{
        color: #FF9900;
    }
    figcaption a:hover{
        color: #FF6600;
    }
    figure:hover img {
        transform: scale(1.1);
    }
    figure:hover figcaption {
        opacity: 1;
    }
    </style>
{% endblock %}



{% block section %}
<div class="container">
    <div class="col-sm-12 col-md-10 col-lg-10">
        <h1 style="text-align: center;">Error</h1>
        <hr />
        <p>
        </p>
    </div>

    {{ parent() }}

    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</div>

{% endblock %}
