{% extends "::base.html.twig" %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}




{# -------------------------------------------------- #}
{# -----------------  Block header  ----------------- #}
{# -------------------------------------------------- #}
{% block header %}
    <!-- Navbar (sit on top) -->
    <div class="w3-top" style="">
      <ul class="w3-navbar w3-orange w3-card-2" id="myNavbar">
        <li>
          <a class="w3-hover-text-orange w3-text-white w3-wide" href="{{ path('apple_blog_catalogue_homepage') }}">AppleBlog</a>
        </li>
        <!-- Right-sided navbar links -->
        <li class="w3-left w3-hide-small">
          <a class="w3-hover-text-orange w3-text-white" href="{{ path('apple_blog_catalogue_homepage', {'produit':'iPhone'}) }}">iPhone</a>
          <a class="w3-hover-text-orange w3-text-white" href="{{ path('apple_blog_catalogue_homepage', {'produit':'iPod'}) }}">iPod</a>
          <a class="w3-hover-text-orange w3-text-white" href="{{ path('apple_blog_catalogue_homepage', {'produit':'iPad'}) }}">iPad</a>
          <a class="w3-hover-text-orange w3-text-white" href="{{ path('apple_blog_catalogue_homepage', {'produit':'iMac'}) }}">iMac</a>
          <a class="w3-hover-text-orange w3-text-white" href="{{ path('apple_blog_catalogue_homepage', {'produit':'AppleWatch'}) }}">&#xF8FF;Watch</a>
          <a class="w3-hover-text-orange w3-text-white" href="{{ path('apple_blog_catalogue_homepage', {'produit':'AppleTv'}) }}">&#xF8FF;Tv</a>
          <a class="w3-hover-text-orange w3-text-white" href="{{ path('apple_blog_catalogue_homepage', {'produit':'AppleMusic'}) }}">&#xF8FF;Music</a>
        </li>
        <li class="w3-right w3-hide-small"> {# Mise en place du switch entre la connection et le profile utilisateur #}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} {# Si on est connecté alors on affiche le nom de l'utilisateur (qui redirigera tous les clques vers le profile) #}
                <a class="w3-hover-text-orange w3-text-white" href="{{ path('adminArticles_index') }}"><span class="glyphicon glyphicon-user"></span>
                    {{ app.user.username }}
                </a>
            {% else %}{# Si on est pas connecté alors on affiche le bouton login pour une connexion eventuelle #}
              <a class="w3-hover-text-orange w3-text-white" href="{{ path("fos_user_security_login") }}"><span class="glyphicon glyphicon-log-in"></span>{% block login %} {{ 'layout.login'|trans({}, 'FOSUserBundle') }}{% endblock %}</a>
            {% endif %}
        </li>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        <li>
          <a href="javascript:void(0)" class="w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars w3-padding-right w3-padding-left"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Sidenav on small screens when clicking the menu icon -->
    <nav class="w3-sidenav w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large " style="display:none" id="mySidenav">
      <a class="w3-hover-text-orange w3-text-orange w3-large w3-padding-16" href="javascript:void(0)" onclick="w3_close()">Close ×</a>
      <!--<hr />-->
      <div class="w3-border-bottom w3-border-blue"></div>
      <a class="w3-hover-text-orange w3-text-orange" href="{{ path('apple_blog_catalogue_homepage', {'produit':'iPhone'}) }}" onclick="w3_close()">iPhone</a>
      <a class="w3-hover-text-orange w3-text-orange" href="{{ path('apple_blog_catalogue_homepage', {'produit':'iPad'}) }}" onclick="w3_close()">iPad</a>
      <a class="w3-hover-text-orange w3-text-orange" href="{{ path('apple_blog_catalogue_homepage', {'produit':'iPod'}) }}" onclick="w3_close()">iPod</a>
      <a class="w3-hover-text-orange w3-text-orange" href="{{ path('apple_blog_catalogue_homepage', {'produit':'iMac'}) }}" onclick="w3_close()">iMac</a>
      <a class="w3-hover-text-orange w3-text-orange" href="{{ path('apple_blog_catalogue_homepage', {'produit':'AppleWatch'}) }}" onclick="w3_close()">&#xF8FF;Watch</a>
      <a class="w3-hover-text-orange w3-text-orange" href="{{ path('apple_blog_catalogue_homepage', {'produit':'AppleTv'}) }}" onclick="w3_close()">&#xF8FF;Tv</a>
      <a class="w3-hover-text-orange w3-text-orange" href="{{ path('apple_blog_catalogue_homepage', {'produit':'AppleMusic'}) }}" onclick="w3_close()">&#xF8FF;Music</a>
      <!--<hr />-->
      <div class="w3-border-bottom w3-border-blue"></div>
      <a class="w3-hover-text-orange w3-text-orange" href="#contact" onclick="w3_close()" data-toggle="tooltip" title="Jeune développeur et passionné d'Apple, voici sur ce blog des articles concernant les produits d'Apple.">Qui suis-je ?</a>
      <a class="w3-hover-text-orange w3-text-orange" href="#contact" onclick="w3_close()">Me contacter</a>
      <a class="w3-hover-text-orange w3-text-orange" href="#contact" onclick="w3_close()">Archives</a>
      <!--<hr />-->
      <div class="w3-border-bottom w3-border-blue"></div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} {# Si on est connecté alors on affiche le nom de l'utilisateur (qui redirigera tous les clques vers le profile) #}
          <a class="w3-hover-text-orange w3-text-orange" href="{{ path('adminArticles_index') }}"><span class="glyphicon glyphicon-user"></span>
              {{ app.user.username }}
          </a>
      {% else %}{# Si on est pas connecté alors on affiche le bouton login pour une connexion eventuelle #}
        <a class="w3-hover-text-orange w3-text-orange" href="{{ path("fos_user_security_login") }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      {% endif %}
    </nav>
{% endblock %}







{# --------------------------------------------------- #}
{# -----------------  Block section  ----------------- #}
{# --------------------------------------------------- #}
{% block section %}
    <div class="clearfix visible-sm row"></div>
    {# <div class="col-lg-2 hidden-sm hidden-xs cadre-content">#}
    <div class="col-md-3 col-lg-2 hidden-sm hidden-xs cadre-content ">
        {# Ces ASIDE represente la partie droite du site (Les ARTICLE seront au centre de la page) #}
        <aside>
          <h3 class="titre-info-perso">Qui suis-je ?</h3>
          <p>Jeune développeur et passionné d'Apple, voici sur ce blog des articles concernant les produits d'Apple.</p>
        </aside>

        <aside>
          <h3 class="titre-info-perso">Me contacter</h3>
          <ul class="padding-left-aside" style="list-style: none; font-size:20px; ">
            <li style="display: inline-block;"><a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            <li style="display: inline-block;"><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
          </ul>
        </aside>

        <aside>
          <h3 class="titre-info-perso">Archives</h3>
          <ul class="padding-left-aside">
            <li data-toggle="collapse" data-target="#2017Callapse">2017
            <ul id="2017Callapse"  class="collapse">
              <li><a href="#">Janvier</a></li>
            </ul></li>
            <li data-toggle="collapse" data-target="#2016Callapse">2016
            <ul id="2016Callapse"  class="collapse">
              <li><a href="#">Novembre</a></li>
              <li><a href="#">Decembre</a></li>
            </ul></li>
          </ul>
        </aside>
    </div>
{% endblock %}
