{% extends "AppleBlogCatalogueBundle::index.html.twig" %}

{% block section %}
<div class="container">
   <div class="row">
       <div class="col-md-3">
          {% include 'UtilisateurBundle::ModulesUsed/utilisateurConnecte.html.twig' %}
       </div>
       <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
           <div class="container-fluid container-profile">
               <div class="panel panel-default" id="panel-login">
                 <div class="panel-body">
                     <h2 id="title-login">Edition d'un article</h2>
                     <hr />
                     <p>Felicitation, votre article a été créé avec succès !</p>
                 </div>
               </div>
           </div>
       </div>
   </div>
</div>
{% endblock %}
