<div class="cadre-content sans-points">
    <br />
    <ul>
        <li><a href="{{ path('fos_user_profile_show') }}">   <span class="glyphicon glyphicon-info-sign"></span><b> Mes informations</b></a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}">   <span class="glyphicon glyphicon-edit">     </span><b> Editer le profile</b></a></li>
        <li><a href="{{ path('adminArticles_index') }}">     <span class="glyphicon glyphicon-list">     </span><b> Editer les articles</b></a></li>
        <li><a href="{{ path('adminArticles_new') }}">       <span class="glyphicon glyphicon-plus">     </span><b> Nouvel article</b></a></li>
        <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out">  </span><b> Déconnexion</b></a></li>
    </ul>
</div>
