{% extends "AppleBlogCatalogueBundle::index.html.twig" %}

{% block section %}
<div class="container">
    <div class="row">
        <div class="col-md-3 nav" style="padding-left:30px;">
            {% include 'UtilisateurBundle::ModulesUsed/utilisateurConnecte.html.twig' %}
        </div>
        <div style="padding-left:15px;">

        <div class="col-md-9 col-lg-9 cadre-content">
            <h1>Editer un Article</h1>
            <div  class="form-inline" style="padding-left:20px;">
                <ul style="display: inline-block; list-style-type: none;">
                    <li>
                        <a href="{{ path('adminArticles_index') }}"><span class="glyphicon glyphicon-menu-left"></span> Retour a la liste</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                            <span class="glyphicon glyphicon-remove" style="color:red; padding-right:-100px;"><input type="submit" value="Supprimer" class="btn-link" style="color: red;" /></span>
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
            <hr />
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                {{ tinymce_init() }}
                <br />
                <span class="glyphicon glyphicon-pencil button-send-default" style="padding-right:-100px;"><input type="submit" value="Editer" class="btn-link" /></span>
            {{ form_end(edit_form) }}
        </div>
    </div></div>
</div>
<br />
<br />
<br />
{% endblock %}
