{% extends "AppleBlogCatalogueBundle::index.html.twig" %}

{% block stylesheets %}
    <style>
    </style>
    {{ parent() }}
{% endblock %}

{% block section %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 nav" style="padding-left:30px;">
                {% include 'UtilisateurBundle::ModulesUsed/utilisateurConnecte.html.twig' %}
            </div>
            <div class="col-md-9" style="padding-left:20px;">
                <div style="">
                    <h2>Editeur d'article</h2>
                    <hr />
                    {% for article in articles %}
                        <div class="row align_image_editeur" style="margin-top:0px;">
                            <div class="gauche col-xs-10 col-sm-10 col-md-10 col-lg-10" >
                                <img src="{{  asset(article.urlphoto) }}" class="img-responsive flotte" alt="Nom de l'article" style="width:100px; height:100px; margin-left:10px;"  />
                                <h4 style="margin-left:120px;" class="cadre-content-text"><a href="{{ path('adminArticles_show', { 'id': article.id }) }}">{{ article.titre | tailleDuTexte(30) }}</a></h4>
                                <p style="margin-left:120px;">publié le: <time datetime="2013-08-21"> {{ article.date|date('d-m-Y') }}</time></p>
                                <p style="margin-left:120px;">Produit: {{ article.produit.getNom() }}</p>
                                <p style="margin-left:120px;">nombre de commentaire: {{ article.commentaires.count() }}</p>
                            </div>
                            <div class="droite cadre-content-text">
                                <a href="{{ path('adminArticles_show', { 'id': article.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="{{ path('adminArticles_edit', { 'id': article.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                            </div>
                        </div>
                        <hr />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {# display navigation #}
    <div class="navigation" style="text-align: center;">
        {{ knp_pagination_render(articles) }}
    </div>

{% endblock %}
