{% extends "AppleBlogCatalogueBundle::index.html.twig" %}

{% block section %}
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="padding-left:30px;">
                {% include 'UtilisateurBundle::ModulesUsed/utilisateurConnecte.html.twig' %}
            </div>

            <div style="margin-left:15px;">
                <div class="col-lg-9 col-md-9 cadre-content">
                    <h2>Créer un nouvel article</h2>
                    <a style="margin-top:10px;" href="{{ path('adminArticles_index') }}"><span class="glyphicon glyphicon-menu-left"></span> Retour a la liste</a>
                    {% if erreurs %}
                        <div class="bg-danger">
                            <ul>
                                {% for erreur in erreurs %}
                                    <font color="red"><li>Il manque le champ <b>{{erreur}}</b>.</li></font>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <hr />
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ tinymce_init() }}
                        <br />
                        <input type="submit" value="Create" class="button-send-default" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
{% endblock %}
