{% extends "AppleBlogCatalogueBundle::index.html.twig" %}

{% block section %}
<div class="container" >
    <div class="row">
        <div class="col-md-3 nav" style="padding-left:30px;">
            {% include 'UtilisateurBundle::ModulesUsed/utilisateurConnecte.html.twig' %}
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12" style="padding-right:0px;">
            <div style="padding-left:20px;">
                <br />
                <ul style="display: inline-block; list-style-type: none;">
                    <li>
                        <a href="{{ path('adminArticles_index') }}"><span class="glyphicon glyphicon-menu-left"></span> Retour à la liste</a>
                    </li>
                    <li>
                        <div style="color:red;" ><a href="{{ path('adminArticles_edit', { 'id': article.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Editer</a></div>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                            <span class="glyphicon glyphicon-remove" style="color:red; padding-right:-100px;"><input type="submit" value="Supprimer" class="btn-link" style="color: red;" /></span>
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <h2>{{article.titre}}</h2>

                <div class="row">
                  <img style="width:100%; height:100%; text-align: center;" src="{{asset(article.urlphoto)}}" class="img-responsive" alt="Nom de l'article" /> {# Notre image illustrant l'article #}
                  <div style="margin-left:10px;" >
                      <br />
                      {{article.texte | raw}} {# Une partie du texte de l'article #}
                  </div>
                </div>

                <p style="padding-left:20px;">publié le: <time datetime="2013-08-21"> </time> {{article.date|date("d/m/Y")}}</p>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
{% endblock %}
