
.align_image img, .align_image p {
    vertical-align: middle;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    /*display: inline-block;
    background-color: red;*/
}

.align_image_editeur img, .align_image_editeur p {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    /*display: inline-block;
    background-color: red;*/
}

.flotte {
    float:left;
}

p.flag {
    padding-left: 100px;
    line-height: 1em;
 }

 /* Pour la position du bloc d'authentification */
 .container-login
{
    margin-top: 25%;
}
#panel-login{
    background-color: #DFDFDF;
    /*border: black;*/
}
#title-login
{
    color: #727272;
}
.container-profile
{
   margin-top: 30px;
}
.container-profile-nav
{
  margin-top: 15px;
}

main{
  background-color: #585858;
}
footer{
  background-color: #6E6E6E;
  width:100%;
  margin-top: -20px;
  padding-bottom: 10px;
  text-align: center;
}

/*Pour la barre de nav*/
.w3-navbar li a {
  padding: 16px;
  float: left;
}

.sans-points li{
  /*display: block;*/
 /*list-style:none;*/
  list-style-type: none;
}



/* Pour le retour en haut de page */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* POUR LA PARTIE ASIDE  */
.cadre-content{
    margin-top: 50px;
    padding-top: -10px;
    border: 1px solid orange;
    background-color: #202020;
    color: white;
}

.cadre-content a{
    color: white;
}

.cadre-content a:hover{
    color: orange;
}

.cadre-content aside{
    min-width: 150px;
}

.cadre-content h3{
    margin-left: -7px;
}

.titre-info-perso{
    color: #CC8C00;
}

.padding-left-aside{
    margin-left: -15px;
}

/* FIN DE LA PARTIE ASIDE */

/* DEBUT CADRE AUTHENTIFICATION */
.cadre-content-authentification-text{
    color: orange;
}
.cadre-content-authentification{
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}
.button-send-default{
    text-align: center;
    border: 1px solid orange;
    height: 25px;
    color: orange;
    background-color: #000;
    margin-bottom: 20px;
}

/* - FIN CADRE AUTHENTIFICATION - */




/* - Commentaire [Le cadre et le texte] - */
.cadre-commentaire {
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}
.cadre-commentaire label{
     color: orange;
 }
 .cadre-commentaire h2{
     color: orange;
 }
 .cadre-content-text{
     color: orange;
 }
 .cadre-content-text a:hover{
     color: white;
 }
 .cadre-content-text a{
     color: orange;
 }
 .cadre-path{
     padding: 10px;
     color: orange;
 }
 /* - FIN Commentaire [Le cadre et le texte] - */

 /* - DEBUT Commentaire [Le bouton] - */
 .button-send{
     text-align: center;
     border: 1px solid orange;
     width: 40px;
     height: 25px;
     color: orange;
     background-color: #000;
     margin-bottom: 20px;
 }
 /* - FIN Commentaire [Le bouton] - */






 /* - Debut Gauche|Droite - */
 .gauche {
     float: left;
 }

 .droite {
     margin-top: 45px;
     margin-right: 20px;
     float: right;
 }
 /* - Fin Gauche|Droite - */


 /* - Debut Survol d'un image - */
figure {
     position: relative;
     display: inline-block;
     overflow: hidden;
     margin: 0;
}
img, figcaption {
     transition: all .25s ease;
}
img {
     display: block;
}
figcaption {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     padding: .5em;
     background: #000;
     background: rgba(0, 0, 0, .75);
     color: #000;
     opacity: 0;
     font-size: 30px;
}
figcaption a{
     color: #FF9900;
}
figcaption a:hover{
     color: #FF6600;
}
figure:hover img {
     transform: scale(1.1);
}
figure:hover figcaption {
     opacity: 1;
}

.cadre-aucun-article{
     padding-left: 20px;
}
/* - Fin Survol d'un image - */
